body {
    height: fit-content;}

header {
    text-align: center;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 44px;
    background-color: white;
    margin: auto;
    padding: 40px;}

    main {
    text-align: center;
    background-color: rgb(214, 223, 239);  
    margin: 0px;
    padding: 0px;  }

.container {
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    background-size: cover;
    border-radius: 1rem;}