body {
    background-color: rgb(43, 43, 53);
height: fit-content;}

header {
    text-align: center;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    gap: 44px;
    background-color: white;}

    main {
        text-align: center;
    }
